<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid bg-dark text-center text-white bordered p-3">
        <h2>Employee List</h2>
    </div>
    
    <div class="container-fluid pt-5">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
                <td>EmpId</td>
                <td>Employee Name</td>
                <td>Age</td>
                <td>Address</td>
                <td>Action</td>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}" class="text-center">
                    <td th:text="${employee.empId}"></td>
                    <td th:text="${employee.empName}"></td>
                    <td th:text="${employee.age}"></td>
                    <td th:text="${employee.address}"></td>
                    <td>
                        <a th:href="@{'/api/employees/updateEmployee/' + ${employee.empId}}" class="btn btn-sm btn-success">Update</a>
                        <a th:href="@{'/api/employees/deleteEmployee/' + ${employee.empId}}" class="btn btn-sm btn-danger">Delete</a>
                    </td> 
                </tr>
            </tbody>
        </table>
        <a th:href="@{/api/employees/add}" class="btn btn-warning">Add Employee</a>
        <a th:href="@{/api/employees/home}" class="btn btn-primary">Back To Home</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
</body>
</html>